<div>
    <!-- 面包屑 -->
    <el-row>
      <el-col :span="24">
        <el-breadcrumb separator="/" class="breadrumb">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/roles">权限管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>角色列表</el-breadcrumb-item>
        </el-breadcrumb>
      </el-col>
    </el-row>
    <!-- /面包屑 -->
    <!-- 权限列表 -->
    <el-table
      ref="singleTable"
      :data="tableData"
      style="width: 100%">
      <!-- 展开列 -->
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-row v-for="level1 in scope.row.children" :key="level1.id" class="level1">
            <el-col :span="2">
              <el-tag                
                closable
                type="">
                {{ level1.authName }}                
              </el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="22">
              <el-row v-for="level2 in level1.children" :key="level2.id" class="level2">
                <el-col :span="2">
                  <el-tag                
                    closable
                    type="success">
                    {{ level2.authName }}                  
                  </el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="22">
                  <span v-for="level3 in level2.children">
                      <el-tag                
                        closable
                        class="level3"
                        type="warning">
                        {{ level3.authName }}
                      </el-tag>
                  </span>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <!-- /展开列 -->
      <el-table-column
        lable="#"
        type="index"
        width="50">
      </el-table-column>
      <el-table-column
        property="roleName"
        label="角色名称"
        width="120">
      </el-table-column>
      <el-table-column
        property="roleDesc"
        label="描述"
        width="120">
      </el-table-column>
      <el-table-column
        label="操作">
        <template slot-scope="scope">
          <el-button 
          plain
          type="primary"
          size="mini">编辑</el-button>
        <el-button
          plain
          size="mini"
          type="danger">删除</el-button>
        <el-button 
          plain
          type="info"
          size="mini"
          @click="showRightDialog(scope.row)">分配角色</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- /权限列表 -->

    <!-- 角色列表对话框 -->
    <el-dialog
      title="角色授权"
      :visible.sync="rightDialogVisible"
      width="30%">
      <el-tree
        :data="treeData"
        ref="rightTree"
        show-checkbox
        node-key="id"
        :default-expand-all="true"
        :default-checked-keys="defaultChecked"        
        :props="defaultProps">
      </el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="rightDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handelEditRight">确 定</el-button>
      </span>
    </el-dialog>
    <!-- /角色列表对话框 -->
  </div>
